<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Contact Number</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products; index as i">
                    <td>{{ appointments.date | date: d/M/y }}</td>
                    <td>{{ appointments.contact_name }}</td>
                    <td>{{ appointments.contact_number }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>